@charset "utf-8";
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei";
}
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover {
  color: #000;
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: "Microsoft YaHei";
  background: #FFF;
  overflow-x: hidden;
}
body {
  background-color: #F2F2F2;
  min-width: 340px;
}
/*header模块开始*/
header {
  height: 50px;
  background-color: #FF841D;
  width: 100%;
  padding: 0 20px;
}
header a {
  line-height: 50px;
}
header a:first-of-type {
  float: left;
  height: 100%;
}
header a:last-of-type {
  float: right;
  height: 100%;
}
header a > .header_logo {
  height: 25px;
}
header a > .header_app {
  height: 34px;
}
/*header模块结束*/
/*search模块开始*/
#search {
  border-bottom: 1px solid #E6E6E6;
  background-color: #fff;
}
#search > form {
  padding-right: 80px;
  padding: 10px 80px 10px 10px;
  position: relative;
}
#search > form > input[type="search"] {
  width: 100%;
  border: none;
  background-color: #F1F1F1;
  height: 30px;
  border-radius: 15px;
  padding-left: 20px;
}
#search > form > input[type="submit"] {
  height: 30px;
  width: 60px;
  border-radius: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: #FF841D;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
/*search模块结束*/
/*footer模块开始*/
footer {
  margin-top: 10px;
}
footer > .register {
  font-size: 18px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px;
}
footer > .register > .row > div {
  height: 40px;
  line-height: 40px;
  text-align: center;
}
footer > .register > .row > div > a {
  color: #5A5A5A;
}
footer > .register > .row > div:nth-of-type(2) {
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}
footer > .register > .row > div:nth-of-type(3) img {
  width: 22px;
  vertical-align: middle;
  margin-top: -4px;
}
footer > .app-download,
footer .link {
  text-align: center;
  line-height: 24px;
}
footer > .app-download .mobileApp,
footer .link .mobileApp {
  color: red;
}
/*footer模块结束*/
@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1500022522599');
  /* IE9*/
  src: url('../font/iconfont.eot?t=1500022522599#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff?t=1500022522599') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf?t=1500022522599') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg?t=1500022522599#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-message:before {
  content: "\e70c";
}
